<!DOCTYPE html>
<html>
<head>
    <title>{{ sensor_name }} Data</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
</head>
<body>
    <h1>{{ sensor_name }} Data</h1>
    <h2>Current Value: <span id="current-value">N/A</span></h2>
    <div id="graph"></div>
    <script>
        var sensorName = "{{ sensor_name }}";
        var socket = io();
        var currentValueElement = document.getElementById('current-value');
        var graphDiv = document.getElementById('graph');
        var data = [{
            x: [],
            y: [],
            type: 'scatter'
        }];
        var layout = {
            title: sensorName + ' Data'
        };
        Plotly.newPlot(graphDiv, data, layout);

        socket.on('new_data', function (msg) {
            if (msg.sensor_name === sensorName) {
                currentValueElement.textContent = msg.value;
                var update = {
                    x: [[new Date()]],
                    y: [[msg.value]]
                };
                Plotly.extendTraces(graphDiv, update, [0]);
            }
        });
    </script>
</body>
</html>
